---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import MovieThumbnailList from '@/components/MovieThumbnailList.astro';
import YouTubePlayer from '@/components/YouTubePlayer.astro';
import jkImage from '@/images/getup_jk.jpg'
---

<Layout>
	<main class="container">
		<div class="jk">
			<Image
				src={jkImage}
				alt={"NewJeans 2nd EP 'Get Up'のジャケット画像"}
			/>
		</div>
		<YouTubePlayer class={"youtube"} />
		<MovieThumbnailList />
	</main>
</Layout>

<style lang="scss">
	.container {
		position: relative;
		min-height: 100dvh;
		display: grid;
		place-content: center;
		padding: 100px 0 200px;
	}
	.jk {
		position: absolute;
		top: 15px;
		left: 20px;
		width: 150px;
	}
	.youtube {
		width: min(85vh, 90vw);
	}
</style>
