---
import { Image } from "astro:assets"

interface Props {
  class?: string
}

const { class: className } = Astro.props;
---

<div class:list={[className, "wrapper"]}>
  <div class="penlight">
    <Image
      src="/assets/images/penlight.png"
      alt=""
      width="564"
      height="564"
    />
  </div>
  <div class="penlight penlight--2">
    <Image
      src="/assets/images/penlight.png"
      alt=""
      width="564"
      height="564"
    />
  </div>
  <div class="bunnies-sticker">
    <Image
      src="/assets/images/bunnies_sticker.png"
      alt=""
      width="564"
      height="564"
    />
  </div>
  <div class="line">
    <svg viewBox="0 0 296 68" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.13867 25.0618C10.8795 23.3146 16.1708 19.9822 21.5408 17.366C32.497 12.0284 44.2171 9.06697 56.2495 7.33817C78.2781 4.17315 108.764 2.16412 127.649 16.5109C136.804 23.4654 143.098 38.419 135.423 48.771C127.841 58.9981 115.806 63.9859 103.202 61.6751C93.1691 59.8358 89.2572 51.8581 89.0927 42.3967C88.9525 34.3393 88.4565 27.3321 95.5058 21.9524C106.15 13.8294 120.468 9.3938 133.557 7.72685C153.019 5.24827 176.015 7.39189 194.035 15.4226C202.565 19.2241 243.417 40.3181 225.907 54.4457C219.76 59.4052 208.451 63.7242 200.409 61.7139C192.295 59.6853 190.202 48.6175 189.876 41.6194C188.936 21.4043 210.709 10.7239 228.161 8.65967C245.243 6.63916 259.833 9.16766 275.424 16.3554C279.64 18.2995 288.287 20.472 290.582 25.0618" stroke="white" stroke-width="5" stroke-linecap="round"/>
    </svg>
  </div>
  <div class="bunnies">
    <div class="bunnies__item">
      <Image
        src="/assets/images/bunnies_green.svg"
        alt=""
        width="564"
        height="564"
      />
    </div>
    <div class="bunnies__item">
      <Image
        src="/assets/images/bunnies_white.svg"
        alt=""
        width="410"
        height="520"
      />
    </div>
    <div class="bunnies__item">
      <Image
        src="/assets/images/bunnies_pink.svg"
        alt=""
        width="380"
        height="420"
      />
    </div>
    <div class="bunnies__item">
      <Image
        src="/assets/images/bunnies_blue.svg"
        alt=""
        width="563"
        height="511"
      />
    </div>
    <div class="bunnies__item">
      <Image
        src="/assets/images/bunnies_yellow.svg"
        alt=""
        width="564"
        height="564"
      />
    </div>
  </div>
  <div class="rabbit">
    <Image
      src="/assets/images/nj_rabbit.png"
      alt=""
      width="600"
      height="600"
    />
  </div>
  <div class="mark">
    <Image
      src="/assets/images/exclamationmark.png"
      alt=""
      width="129"
      height="324"
    />
  </div>
  <div class="spotlight">
    <div class="spotlight__light" data-spotlight></div>
  </div>
</div>

<style lang="scss">
  .wrapper {
    position: absolute;
    inset: 0;
    background-color: var(--color-night-gray);
  }

  .bunnies {
    position: absolute;
    top: 180px;
    bottom: 0;
    left: 0;
    width: 10%;

    &__item {
      height: 20%;

      &:nth-of-type(1) {
        translate: 100% 0;
        rotate: 15deg;
      }

      &:nth-of-type(2) {
        translate: 41% 0;
        rotate: 5deg;
      }

      &:nth-of-type(3) {
        translate: 20% 0;
        rotate: -10deg;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .rabbit {
    position: absolute;
    top: 5vh;
    right: 6%;
    width: 14%;
  }

  .mark {
    position: absolute;
    top: 29vh;
    right: 14%;
    width: 2.7%;
    img {
      animation: clock 1.2s infinite steps(12);
      transform-origin: bottom center;

      @keyframes clock {
        0% {
          rotate: 0deg;
        }
        100% {
          rotate: 360deg;
        }
      }
    }
  }

  .line {
    position: absolute;
    width: 20%;
  }

  .penlight {
    position: absolute;
    bottom: 3px;
    right: 5px;
    width: 13%;

    &--2 {
      top: 2%;
      left: max(260px, 25%);
      width: 9%;
      rotate: -10deg;
    }
  }

  .bunnies-sticker {
    position: absolute;
    top: 1%;
    left: 50%;
    width: 30%;
    translate: -50% 0;
  }

  .spotlight {
    display: grid;
    place-content: center;
    position: absolute;
    inset: 0;
    overflow: hidden;
  }

  .spotlight__light {
    width: 300vw;
    height: 300vh;
    background-image: radial-gradient(
      circle at center,
      rgba(0,255,138, 0.8) 8vw,
      rgba(0, 0, 0, .96) 12vw,
    );
    mix-blend-mode: multiply;
    // mix-blend-mode: darken;
    // mix-blend-mode: hard-light;
    translate: calc(var(--spotlight-x) - 50vw) calc(var(--spotlight-y) - 50vh);
    transition: translate 1s cubic-bezier(0.25, 1, 0.5, 1);
  }
</style>